/* CONTENIDO */

.Contenido{
    /* background-color: rgb(255, 255, 255); */
        background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    max-height: max-content;
    min-height: 100%;
    padding: 30px;
}

.Dashboard-Content{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

/* DASHBOARDS */

.Dashboard{
    padding: 20px;
    height: 250px;
    width: 250px;
    background-color: #4e34a7;
    color: white;
    border: 1px solid black;
    border-radius: 10%;
}
