
body{
    padding: 0;
    margin: 0;
}

.Cuerpo {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:
        radial-gradient(circle at center, white 5%, transparent 80%),
        radial-gradient(circle at center, white 5%, transparent 80%),
        url("../Content/image.webp");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.InicioContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 550px;
    height: 500px;
}

#btnIngresar{
    background-color: #dfd6f7;
    color: black;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s ease;
    border: 1px solid rgb(25, 4, 75);
}
#btnIngresar:hover{
        border: 1px solid  #3b69ff;
    box-shadow: 0px 0px 100px rgba(51, 21, 200, 0.5),
    0px 0px 100px rgba(51, 21, 200, 0.5);
}